<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html lang="ko" style="--vh: 9.540000000000001px;"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>토스트랩 관리자</title>

    <!-- favicon -->
    <link rel="icon" th:href="@{/images/logo/favi_ad.png}" type="image/x-icon"/>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/toast.css}" />

    <!-- JS -->
    <script th:src="@{/js/lib/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/toast.js}"></script>
</head>
<body class="scroll-up">
<div id="wrap" class="frame">
    <div th:replace="~{fragments/header :: header}"></div>

    <div id="container" class="container">
        <div class="title-bar">
            <h2 class="page-title ellipsis">사원 목록</h2>
        </div>

        <main id="content">
            <div id="search" class="search box-wrap">
                <form th:action="@{/staff/list}" method="get" th:object="${staffSearchDTO}">
                    <fieldset>
                        <legend class="blind">검색</legend>
                        <div class="field insert">
                            <input type="text" id="searchTxt" class="input-text medium"
                                   th:field="*{keyword}" title="검색어" placeholder="사원명, 사번, 부서로 검색...">
                        </div>

                        <div class="button-area pack-left">
                            <button type="submit" class="btn medium color1">검색</button>
                            <button type="reset" class="btn medium bdr-color1">초기화</button>
                        </div>

                    </fieldset>
                </form>
            </div>

            <section class="box-wrap">
                <div>
                    <div class="list-header pack-both">
                        <div></div>
                        <div>
                            <button type="button" class="btn medium color1" onclick="modalOpen('#popupId');">+ 사원 등록</button>
                        </div>
                    </div>
                </div>
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>사번</th>
                            <th>성명</th>
                            <th>생년월일</th>
                            <th>부서</th>
                            <th>직책</th>
                            <th>입사일</th>
                            <th>상태</th>
                            <th>관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="staff, idx : ${staffs.content}">
                            <td th:text="${staff.id}">사번</td>
                            <td th:text="${staff.staffName}">성명</td>
                            <td th:text="${staff.getStaffBirth}">생년월일</td>
                            <td th:text="${staff.staffDepartment}">부서</td>
                            <td th:text="${staff.staffEmploymentType}">직책</td>
                            <td th:text="${staff.getStaffStartDate}">입사일</td>
                            <td th:text="${staff.getStaffEndDate != null} ? '재직' : '퇴사'">상태</td>
                            <td>
                                <button class="btn small normal">상세</button>
                                <button class="btn small accent">수정</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>

        <footer id="footer">
            <address class="copyright">©TeamOne</address>
            <p>허가없는 해당 사이트의 접근은 민.형사상 처벌을 받을 수 있습니다.</p>
        </footer>
    </div><!-- // #container  -->
</div><!-- // #wrap  -->

<div id="popupId" class="overlay">
    <div class="popup">
        <div class="popup-header">
            <h2 class="popup-title">신규 사원 등록</h2>
            <button type="button" class="btn transparent pop-close" onclick="modalClose('#popupId');" title="팝업 닫기">
                <svg viewBox="0 0 32 32" class="ico svg-close">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="m16 17.414 8.485 8.485 1.415-1.414L17.414 16 25.9 7.515 24.485 6.1 16 14.586 7.515 6.1 6.1 7.515 14.586 16l-8.485 8.485L7.515 25.9 16 17.413z"></path>
                </svg>
            </button>
        </div>
        <div class="popup-body write-form">
            <form>
                <fieldset class="pack-down">
                    <legend class="blind">기본 정보</legend>
                    <div class="row">
                        <div class="field col">
                            <label class="label medium required" for="staffName">이름</label>
                            <div class="insert">
                                <input type="text" name="staffName" id="staffName" class="input-text small" title="이름" placeholder="홍길동">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field col">
                            <label class="label medium" for="select1">셀렉트</label>
                            <div class="insert">
                                <select id="select1" class="select medium">
                                    <option>선택</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field col">
                            <span class="label medium">체크박스</span>
                            <div class="insert pack-left">
                                <label for="cb1" class="pack-left"><input type="checkbox" class="checkbox" name="cb" id="cb1">체크박스1</label>
                                <label for="cb2" class="pack-left"><input type="checkbox" class="checkbox" name="cb" id="cb2">체크박스2</label>
                                <label for="cb3" class="pack-left"><input type="checkbox" class="checkbox" name="cb" id="cb3">체크박스3</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field col">
                            <span class="label medium">라디오</span>
                            <div class="insert pack-left">
                                <label for="radio1" class="pack-left"><input type="radio" class="radio" name="radio" id="radio1">라디오1</label>
                                <label for="radio2" class="pack-left"><input type="radio" class="radio" name="radio" id="radio2">라디오2</label>
                                <label for="radio3" class="pack-left"><input type="radio" class="radio" name="radio" id="radio3">라디오3</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field">
                            <label class="label medium" for="inputSet02">텍스트에리어</label>
                            <div class="insert">
                                <textarea id="inputSet02" class="textarea medium" rows="4" cols="50" placeholder="텍스트에리어"></textarea>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

</body></html>