<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>토스트랩 관리자</title>

    <th:block th:replace="~{fragments/head :: commonHead}"></th:block>

    <!-- favicon -->
    <link rel="icon" th:href="@{/images/logo/favi_ad.png}" type="image/x-icon"/>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/toast.css}" />

    <!-- JS -->
    <script th:src="@{/js/lib/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/toast.js}"></script>
</head>
<body class="scroll-up">
<div id="wrap" class="frame">
    <div th:replace="~{fragments/header :: header}"></div>

    <div id="container" class="container">
        <div class="title-bar">
            <h2 class="page-title ellipsis">사원 목록</h2>
        </div>

        <div>
            <div class="row-4">
                <div class="col box-wrap">
                    <div>전체 사원</div>
                    <div>4명</div>
                    <div>등록된 사원</div>
                </div>
                <div class="col box-wrap">
                    <div>재직 중</div>
                    <div>4명</div>
                    <div>활성된 사원</div>
                </div>
                <div class="col box-wrap">
                    <div>본사팀</div>
                    <div>4명</div>
                    <div>매장 관리직 포함</div>
                </div>
                <div class="col box-wrap">
                    <div>평균 근속</div>
                    <div>2.5년</div>
                    <div>근속 기간</div>
                </div>
            </div>
        </div>

        <main id="content">
            <div class="search box-wrap">
                <div id="search" class="search">
                    <form th:action="@{/staff/list}" method="get" th:object="${staffSearchDTO}">
                        <fieldset>
                            <legend class="blind">검색</legend>
                            <div class="pack-both">
                                <input type="text" id="searchTxt" class="input-text medium form-control"
                                       th:field="*{keyword}" title="검색어" placeholder="사원명, 사번, 부서로 검색...">
                            </div>

                            <div class="button-area pack-left">
                                <button type="submit" class="btn medium color1">검색</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div>
                    <div class="list-header pack-both">
                        <div></div>
                        <div>
                            <a th:href="@{/staff/add}" class="btn medium color1">+ 사원 등록</a>
                        </div>
                    </div>
                </div>
                <section class="pack-down">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>사번</th>
                                <th>성명</th>
                                <th>생년월일</th>
                                <th>부서</th>
                                <th>직책</th>
                                <th>입사일</th>
                                <th>상태</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="staff, idx : ${staffs.content}">
                                <td th:text="${staff.id}">사번</td>
                                <td th:text="${staff.staffName}">성명</td>
                                <td th:text="${staff.getStaffBirth()}">생년월일</td>
                                <td th:text="${staff.staffDepartment != null and staff.staffDepartment.name() == 'STORE' ? '판매팀' : '본사팀'}">부서</td>
                                <td th:text="${staff.staffEmploymentType != null ?
                                              (staff.staffEmploymentType.name() == 'OWNER'  ? '매장 관리자' :
                                               staff.staffEmploymentType.name() == 'WORKER' ? '직원' : '알바')
                                              : '알수없음'}">직책</td>
                                <td th:text="${staff.getStaffStartDate()}">입사일</td>
                                <td>
                                    <span class="'badge rounded-pill ' + (${staff.getStaffEndDate()} != null ? ' bg-primary' : ' bg-secondary')"
                                          th:text="${staff.getStaffEndDate() != null} ? '재직' : '퇴사'">
                                      상태
                                    </span>
                                </td>
                                <td>
                                    <a class="btn small bdr-gray">
                                        <span class="material-symbols-outlined md-18" th:onclick="|location.href='@{/staff/detail/{id}(id=${staff.id})}'|">visibility</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:replace="~{fragments/pagination :: pagination2(${staffs}, 'page')}"></div>
                </section>
            </div>
        </main>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div><!-- // #container  -->
</div><!-- // #wrap  -->
</body></html>