<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <!-- Bootstrap CSS CDN -->
    <th:block th:replace="~{fragments/head :: commonHead}"></th:block>

    <link href="/admin/css/toast.css" rel="stylesheet"/>
    <script src="/admin/js/lib/jquery-3.2.1.min.js"></script>
    <script src="/admin/js/toast.js"></script>
</head>
<body>
<div id="wrap" class="frame">
    <div th:replace="~{fragments/header :: header}"></div>

    <div id="container" class="container">
        <div class="title-bar">
            <h2 class="page-title ellipsis max-1132">
                <span class="fw-400">로트별 재고 현황</span>
            </h2>
        </div>

        <main id="content" class="max-1132">

            <div class="box-wrap">

                <section class="pack-down">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th scope="col">로트 번호</th>
                            <th scope="col">입고 수량</th>
                            <th scope="col">현재 수량</th>
                            <th scope="col">유통 기한</th>
                            <th scope="col">입고일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(batches)}">
                            <td colspan="7">입출고 내역이 없습니다.</td>
                        </tr>
                        <tr th:each="batch : ${batches}">
                            <td th:text="${batch.inventoryBatchLotNo}"></td>
                            <td th:text="${batch.inventoryBatchReceivedQuantity}"></td>
                            <td th:text="${batch.inventoryBatchQuantity}"></td>
                            <td th:text="${#temporals.format(batch.inventoryBatchExpirationDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#temporals.format(batch.inventoryBatchCreatedAt, 'yyyy-MM-dd')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div><!--//.box-wrap-->
            <div class="button-area pack-both">
                <a href="/admin/inventory/list" class="btn medium color1">목록</a>
            </div>
        </main>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div><!-- // #container  -->
</div><!--#wrap.frame-->
<script>
</script>
</body>
</html>
