<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <th:block th:replace="~{fragments/head :: commonHead}"></th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div>ID : <span th:text="${notice.id}">999</span></div>
<div>Category : <span th:text="${notice.noticeCategory}">일반</span></div>
<div>Priority : <span th:text="${notice.noticePriority}">일반</span></div>
<div>IsShow : <span th:text="${notice.isShow}">isShow</span></div>
<div>Writer : <span th:text="${notice.writer}">writer</span></div>
<div>Title : <span th:text="${notice.title}">title</span></div>
<div>Content : <span th:utext="${notice.body}">content</span></div>
<div>첨부파일목록 : </div>
<table>
    <tr th:each="attachment : ${attachments}">
        <td><a th:href="${attachment.url}" target="_blank"><span th:text="${attachment.url}">첨부파일</span></a></td>
        <td><button type="button" th:onclick="deleteAttachment([[${attachment.id}]])">삭제</button></td>
    </tr>
</table>
<a th:href="@{/notice/modify/{id}(id=${notice.id})}" class="btn btn-secondary">수정</a>
<a th:href="@{/notice/delete/{id}(id=${notice.id})}" class="btn btn-secondary">삭제</a>
<a href="/admin/notice/list" class="btn btn-secondary">목록</a>
<a href="/admin/notice/write" class="btn btn-secondary">게시물작성</a>
<div th:replace="~{fragments/footer :: footer}"></div>
<script>
    function deleteAttachment(id) {
        const formData = new FormData();
        formData.append("id", id);

        fetch("/admin/API/notice/delete/attachment", {
            method: "POST",
            body: formData
        })
            .then(async response => {
                const data = await response.json();
                if (!response.ok) {
                    if (response.status === 400 && data.errors) {
                        console.log("첨부파일 삭제 실패");
                    }
                    throw new Error("서버 검증 오류");
                } else {
                    if (data.success) {
                        window.location.href = '/admin/notice/detail/' + [[${notice.id}]];
                    }
                }
            })
            .catch(error => {
                console.error("에러 발생:", error);
            });
    }
</script>
</body>
</html>