<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>ID : <span th:text="${notice.id}">999</span></div>
<div>Category : <span th:text="${notice.noticeCategory}">일반</span></div>
<div>Priority : <span th:text="${notice.noticePriority}">일반</span></div>
<div>IsShow : <span th:text="${notice.isShow}">isShow</span></div>
<div>Writer : <span th:text="${notice.writer}">writer</span></div>
<div>Title : <span th:text="${notice.title}">title</span></div>
<div>Content : <span th:utext="${notice.body}">content</span></div>
<div>첨부파일목록 : </div>
<ul>
    <li th:each="attachment : ${attachments}" th:text="${attachment.url}"></li>
</ul>
<button type="button"
        th:onclick="'window.location=\'/admin/notice/modify/' + ${notice.id} + '\';'">
    수정
</button>
<button type="button" onclick="window.location='/admin/notice/list';">목록</button>
<button type="button" onclick="window.location='/admin/notice/write';">게시물작성</button>
</body>
</html>