<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>공지사항</title>

    <!-- Bootstrap CSS CDN -->
    <th:block th:replace="~{fragments/head :: commonHead}"></th:block>
    <link href="/admin/css/toast.css" rel="stylesheet"/>
    <script src="/admin/js/lib/jquery-3.2.1.min.js"></script>
    <script src="/admin/js/toast.js"></script>
    <link rel="stylesheet" href="/admin/ckeditor/style.css">
    <link rel="stylesheet" href="/admin/ckeditor/ckeditor5.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>
    <style>
        .ck-editor__editable:not(.ck-editor__nested-editable) {
            height: 450px;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="container" class="container">
    <form name="frm" id="frm">
        <input type="hidden" name="id" id="id" th:value="${notice.id}">
        <table>
            <tr>
                <td style="width:100px;">카테고리</td>
                <td>
                    <div class="insert pack-down">
                        <select name="noticeCategory" id="noticeCategory" class="select medium">
                            <option>선택</option>
                            <option th:each="c : ${NoticeCategory}"
                                    th:value="${c.name()}"
                                    th:text="${c.description}"
                                    th:selected="${c == notice.noticeCategory}">
                                일반
                            </option>
                        </select>
                    </div>
                    <p id="noticeCategoryError" style="color:red"></p>
                </td>
            </tr>
            <tr>
                <td>상태</td>
                <td>
                    <div class="insert pack-down">
                        <select name="noticePriority" id="noticePriority" class="select medium">
                            <option>선택</option>
                            <option th:each="c : ${NoticePriority}"
                                    th:value="${c.name()}"
                                    th:text="${c.description}"
                                    th:selected="${c == notice.noticePriority}">
                                일반
                            </option>
                        </select>
                    </div>
                    <p id="noticePriorityError" style="color:red"></p>
                </td>
            </tr>
            <tr>
                <td>노출여부</td>
                <td>
                    <input type="checkbox" name="isShow" id="isShow" value="1" th:checked="${notice.isShow}" class="checkbox"/>
                    <p id="isShowError" style="color:red"></p>
                </td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="writer" th:value="${notice.writer}" class="input-text"/></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" name="title" th:value="${notice.title}" class="input-text"/></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea name="body" class="body" th:text="${notice.body}"></textarea></td>
            </tr>
            <tr>
                <td>첨부파일</td>
                <td>
                    <input type="file" name="files" id="files" multiple/>
                </td>
            </tr>
        </table>
        <div>첨부파일목록 :</div>
        <ul>
            <li th:each="attachment : ${attachments}" th:text="${attachment.url}"></li>
        </ul>
        <div class="button-area pack-center">
            <input type="submit" class="btn large color1" value="전송"/>
        </div>
    </form>
    <div class="button-area pack-both">
        <a href="/admin/notice/list" class="btn medium color1">목록</a>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script>
    ClassicEditor.create(document.querySelector(".body"), {
        language: "ko",
        ckfinder: {
            uploadUrl: "/admin/image/upload",
            withCredentials: true
        }
    });
</script>
<script>
    document.getElementById("frm").addEventListener("submit", function (e) {
        e.preventDefault(); // 폼 기본 제출 막기

        const formData = new FormData(this);

        fetch("/admin/API/notice/modify", {
            method: "POST",
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("서버 응답 오류: " + response.status);
                }
                return response.json();
            })
            .then(data => {
                alert("수정 성공 : " + id);
                window.location.href = "/admin/notice/detail/" + data.id;
            })
            .catch(error => {
                console.error("에러 발생:", error);
                alert("등록 실패");
            });
    });
</script>
</body>
</html>