<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>토스트랩 관리자</title>

    <th:block th:replace="~{fragments/head :: commonHead}"></th:block>

    <!-- favicon -->
    <link rel="icon" th:href="@{/images/logo/favi_ad.png}" type="image/x-icon"/>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/toast.css}" />

    <!-- JS -->
    <script th:src="@{/js/lib/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/toast.js}"></script>
</head>
<body class="scroll-up">
<div id="wrap" class="frame">
    <div th:replace="~{fragments/header :: header}"></div>

    <div id="container" class="container">
        <div class="title-bar">
            <h2 class="page-title ellipsis">회원 목록</h2>
        </div>

        <main id="content" class="pack-down gap-20">
            <div class="box-wrap">
                <div id="search" class="search">
                    <form th:action="@{/member/list}" method="get" th:object="${memberSearchDTO}">
                        <fieldset>
                            <legend class="blind">검색</legend>
                            <div class="pack-both">
                                <div class="pack-left">
                                    <input type="text" id="searchTxt" class="input-text medium form-control"
                                        th:field="*{keyword}" title="검색어" placeholder="회원명, 이메일, ID로 검색...">
                                    <button type="submit" class="btn medium color1">검색</button>
                                </div>
                                <div></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <section class="pack-down">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>회원ID</th>
                                <th>성명</th>
                                <th>이메일</th>
                                <th>연락처</th>
                                <th>상태</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="m, idx : ${members.content}">
                                <td th:text="${m.id}">회원ID</td>
                                <td th:text="${m.name}">성명</td>
                                <td th:text="${m.email}">이메일</td>
                                <td th:text="${m.phone}">연락처</td>
                                <td>
                                    <span th:class="|badge rounded-pill ${
                                    m.status.name() == 'ACTIVE' ? 'bg-success' : 'bg-warning'}|"
                                          th:text="${m.status.name() == 'ACTIVE'} ? '활성' : '대기'">
                                      상태
                                    </span>
                                </td>
                                <td>
                                    <a th:href="@{/member/detail/{id}(id=${m.id})}" class="btn small normal">
                                        <span class="material-symbols-outlined">visibility</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <div th:replace="~{fragments/pagination :: pagination (${members})}"></div>
                    </div>
                </section>
            </div>
        </main>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div><!-- // #container  -->
</div><!-- // #wrap  -->
</body></html>