@charset "UTF-8";
/* ICT TeamONE _ 토스트랩 _ KimJuyeon _ 20251014 */

:root {
  --body-bg-color: #F7FAFC;
  --body-color: #697a8d;
  --body-dark: #485461;
  --title-color: #2a3038;

  /*orange*/
  --color1: #FB6340;
  --color1-dark: #c84f33;
  --color1-light: #fb8266;
  --color1-light2: #fdd0c5;

  /*brown */
  --color2: #4B1D13;
  --color2-dark: #f9b29d;

  /*gray*/
  --gray: #b4bcc6;
  --gray-dark: #a5afba;
  --bdr-color: #dcdce0;
}
