<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<ul>
    <li><a href="/admin/notice/list">Notice</a></li>
    <li><a href="/login">Login</a></li>
</ul>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>