<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>토스트랩 관리자</title>

    <th:block th:replace="~{fragments/head :: commonHead}"></th:block>

    <!-- favicon -->
    <link rel="icon" th:href="@{/images/logo/favi_ad.png}" type="image/x-icon"/>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/toast.css}" />

    <!-- JS -->
    <script th:src="@{/js/lib/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/toast.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        setTimeout(function() {
            window.location="/admin/home"
        }, 1000);
    </script>
</head>
<body>


</body>
</html>